.red{
    background-color: #bf404a;
    border-color: #bf404a;
}

/*general class*/

#searchForm{
    display: flex;
    justify-content: center;
    width:100%;
}

#pokedexPicture{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/*properties for the top left pokedex*/

.leftPartPokedex{
    border-radius: 5px 5px 0px 5px;
    width: 350px;
    height:450px;
    display: flex;
    flex-direction: row;
}

.topLeftPokedex {
    filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.3));
    position: absolute;
}

.topLeftPokedex>div:nth-child(1){
    width:350px;
    height: 50px;
    border-radius:5px 5px 5px 0;
}

.circle{
    border-radius: 50%;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(1){/*big blue circle*/
    position: absolute;
    margin-top:10px;
    left:20px;
    width:60px;
    height:60px;
    background-image: radial-gradient(circle, #76bce2, #3d8fbb) ;
    border : white 4px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    margin-top:5px;
    background-color: #33b9e3;
    border-radius: 75%;
    width:28px;
    height:17px;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
    margin-bottom:2px;
    background-color: #d0e9f6;
    width:10px;
    height:10px;
}
/*end of big blue circle*/

/*properties of the three little circle*/

.topLeftPokedex>div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70px;
    position: absolute;
    left:120px;
    margin-top:20px;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div{
    width:20px;
    height:20px;
    display: flex;
    justify-content:flex-end;
    flex-direction:column;
    align-items:center;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    background-image: radial-gradient(circle,#df001e,#bf1c47);
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    background-image: radial-gradient(circle,#fbca23,#e87e30);
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    background-image: radial-gradient(circle,#c9d528,#b2aa3b);
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div>div{/*little circle in the little circle!!!*/
    width:3px;
    height:3px;
    background-color: #fff;
    margin-bottom:4px;
}

/*properties for circles in topleft pokedex*/

.topLeftPokedex>div:nth-child(2){
    width:170px;
    height:0;
    border-top:solid #bf404a 40px;
    border-right: solid transparent 25px;
}

.topLeftPokedex>div:nth-child(3){
    display: flex;
    flex-direction:row;
}

.topLeftPokedex>div:nth-child(3)>*{
    margin-top:-5px;
}

.topLeftPokedex>div:nth-child(3)>div:nth-child(1){
    width:160px;
    height: 10px;
    border-bottom-left-radius:5px;
}

.topLeftPokedex>div:nth-child(3)>div:nth-child(2){
    width:11px;
    height:10px;
    border-bottom-right-radius:100%;
}

/*END of properties for top left pokedex*/

.leftPartPokedex>div:nth-child(2){
    width:280px;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}

/*properties for column of leftPartPokedex*/

.leftPartPokedex>.column{
    height:100%;
    flex-grow: 1;
    border-left: #963941 2px solid;
    border-right:#963941 2px solid;
    background: linear-gradient(to right,#bf404a, #c76068,#bf404a);
    border-top-right-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.leftPartPokedex>.column>div>hr:nth-child(1){
    margin-bottom: 20px;
}

.leftPartPokedex>.column>div>hr{
    height:1px;
    background-color: #c65761;
    border: #c65761 1px solid;
}

.leftPartPokedex>.column>div:nth-child(1){
    margin-top: 80px;
}

.leftPartPokedex>.column>div:nth-child(2){
    margin-bottom:35px;
}

/*end of properties for column of left pokedex*/

/*properties for screen of leftPartPokedex*/
.leftPartPokedex .outerScreen{
    background-color: #e6e6e6;
    width: 200px;
    height:210px;
    border-radius: 10px 10px 10px 50px;
}

/*end of properties for the screen of left part pokedex*/

.leftPartPokedex>div:nth-child(2)>.buttons{
    height:90px;
    margin-bottom:10px;
}

/*END OF PROPERTIES FOR LEFT PART OF THE POKEDEX!*/

.rightPartPokedex{
    border-radius: 5px;
    width:350px;
    height:400px;
}