.red{
    background-color: #bf404a;
    border-color: #bf404a;
}

.white{
    background-color: #fff;
    border-color: #fff;
}

.errorMessage{
    color: red;
    font-weight: bold;
}

.greyBorder{
    border:solid 2px #60494a;
}

.blackRadient{
    background : linear-gradient(to bottom, #000, #545454);
}

.greenRadient{
    background : linear-gradient(to bottom, #016a38, #117a49);
    border:solid 2px #4d5940;
}

.topTriangle{
    width:0;
    height:0;
    border-bottom: 7px solid black;
    border-right: transparent solid 7px;
    border-left: transparent solid 7px;
}

.rightTriangle{
    width:0;
    height:0;
    border-left: 7px solid black;
    border-top: transparent solid 7px;
    border-bottom: transparent solid 7px;
}

.leftTriangle{
    width:0;
    height:0;
    border-right: 7px solid black;
    border-top: transparent solid 7px;
    border-bottom: transparent solid 7px;
}

.bottomTriangle{
    width:0;
    height:0;
    border-top: 7px solid black;
    border-right: transparent solid 7px;
    border-left: transparent solid 7px;
}

/*general class*/

body{
    display: flex;
    flex-direction:column;
    align-items:center;
}

#searchForm{
    display: flex;
    align-items: center;
    width:100%;
    flex-direction: column;
}

.errorMessage{
    min-height:30px;
}

#pokedexPicture{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/*properties for the 2 big parts*/

.screen{
    background-color: #a6ac97;
    box-shadow: #858880 0 0 20px inset;
}

/*class common to two parts of the pokedex*/

/*properties for the top left pokedex*/

.leftPartPokedex{
    border-radius: 5px 5px 0px 5px;
    width: 350px;
    height:450px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.topLeftPokedex {
    filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.3));
    position: absolute;
    z-index:100;
}

.topLeftPokedex>div:nth-child(1){
    width:350px;
    height: 50px;
    border-radius:5px 5px 5px 0;
}

.circle{
    border-radius: 50%;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(1){/*big blue circle*/
    position: absolute;
    margin-top:10px;
    left:20px;
    width:60px;
    height:60px;
    background-image: radial-gradient(circle, #76bce2, #3d8fbb) ;
    border : white 4px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    margin-top:5px;
    background-color: #33b9e3;
    border-radius: 75%;
    width:28px;
    height:17px;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
    margin-bottom:2px;
    background-color: #d0e9f6;
    width:10px;
    height:10px;
}
/*end of big blue circle*/

/*properties of the three little circle*/

.topLeftPokedex>div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70px;
    position: absolute;
    left:120px;
    margin-top:20px;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div{
    width:20px;
    height:20px;
    display: flex;
    justify-content:flex-end;
    flex-direction:column;
    align-items:center;
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    background-image: radial-gradient(circle,#df001e,#bf1c47);
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    background-image: radial-gradient(circle,#fbca23,#e87e30);
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    background-image: radial-gradient(circle,#c9d528,#b2aa3b);
}

.topLeftPokedex>div:nth-child(1)>div:nth-child(2)>div>div{/*little circle in the little circle!!!*/
    width:3px;
    height:3px;
    background-color: #fff;
    margin-bottom:4px;
}

/*properties for circles in topleft pokedex*/

.topLeftPokedex>div:nth-child(2){
    width:170px;
    height:0;
    border-top:solid #bf404a 40px;
    border-right: solid transparent 25px;
}

.topLeftPokedex>div:nth-child(3){
    display: flex;
    flex-direction:row;
}

.topLeftPokedex>div:nth-child(3)>*{
    margin-top:-5px;
}

.topLeftPokedex>div:nth-child(3)>div:nth-child(1){
    width:160px;
    height: 10px;
    border-bottom-left-radius:5px;
}

.topLeftPokedex>div:nth-child(3)>div:nth-child(2){
    width:11px;
    height:10px;
    border-bottom-right-radius:100%;
}

/*END of properties for top left pokedex*/

.leftPartPokedex>div:nth-child(2){
    width:280px;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}

/*properties for column of leftPartPokedex*/

.leftPartPokedex>.column{
    height:100%;
    flex-grow: 1;
    border-left: #963941 2px solid;
    border-right:#963941 2px solid;
    background: linear-gradient(to right,#bf404a, #c76068,#bf404a);
    border-top-right-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.leftPartPokedex>.column>div>hr:nth-child(1){
    margin-bottom: 20px;
}

.leftPartPokedex>.column>div>hr{
    height:1px;
    background-color: #c65761;
    border: #c65761 1px solid;
}

.leftPartPokedex>.column>div:nth-child(1){
    margin-top: 80px;
}

.leftPartPokedex>.column>div:nth-child(2){
    margin-bottom:35px;
}

/*end of properties for column of left pokedex*/

/*properties for screen of leftPartPokedex*/
.leftPartPokedex .borderScreen{
    background-color: #e6e6e6;
    width: 200px;
    height:210px;
    border-radius: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.leftPartPokedex .borderScreen>div:nth-child(1){
    justify-content:space-between;
    width:50px;
    display: flex;
    margin-top:10px;
}

.leftPartPokedex .borderScreen>div:nth-child(1)>div.circle{
    background-color: #000;
    width:10px;
    height:10px;
}

.leftPartPokedex .screen{
    margin-top: 15px;
    width:150px;
    height:125px;
    border : 1px #adaeaa solid;
}

#displayImage>img{
    width:100%;
    height:100%;
    opacity:0.7;
}

.leftPartPokedex .borderScreen>div:nth-child(3){
    width:150px;
    height:20px;
    display: flex;
    justify-content:space-between;
    margin-top:10px;
}

.leftPartPokedex .borderScreen>div:nth-child(3)>div.circle{
    border: red 1px solid;
    width:15px;
    height: 15px;
    background : linear-gradient(to bottom, #890101, #e40505);
}

.leftPartPokedex .borderScreen>div:nth-child(3)>div:nth-child(2){
    width:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftPartPokedex .borderScreen hr{
    margin:0;
    background-color: #000;
    color: #000;
    border-color:#000;
}
/*end of properties for the screen of left part pokedex*/

/*Beginning of properties for buttons of left part pokedex*/

.leftPartPokedex>div:nth-child(2)>.buttons{
    margin-top:5px;
    width: 220px;
    height:90px;
    margin-bottom:10px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.leftPartPokedex .buttons>.circle{
    margin-top:10px;
    width:20px;
    height:20px;
}

.leftPartPokedex .buttons>div:nth-child(2){
    width:75px;
    height:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content:space-between;
}

.leftPartPokedex .buttons>div:nth-child(2)>div:nth-child(1){
    width:35px;
    height:5px;
    background-color: #a7d135;
    border-radius: 4px;
}

.leftPartPokedex .buttons>div:nth-child(2)>div:nth-child(2){
    width:35px;
    height:5px;
    background-color: #b30048;
    border-radius: 4px;
}

.leftPartPokedex .buttons>div:nth-child(2)>div:nth-child(3){
    width:100%;
    height:30px;
    margin-bottom:15px;
    border-radius: 3px;
}

/*begin of cross properties*/
.cross{
    height: 80px;
    width: 90px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content:stretch;
    justify-content:center;
    align-items:stretch;
    position: relative;
}

.cross>div:nth-child(1){
    width:20px;
    height:40px;
    display: flex;
    justify-content: center;
    margin-bottom:-10px;
    border-top: solid 2px #60494a;
}

.cross>div:nth-child(1)>div{
    margin-top:5px;
}

.cross>div:nth-child(2){
    display: flex;
    flex-direction:row;
    width:100%;
    height:20px;
    justify-content:space-between;
    align-items:center;
    border-right:solid 2px #60494a;
    border-left:solid 2px #60494a;
}

.cross>div:nth-child(2)>div:nth-child(1){
    margin-left:5px;
}

.cross .circle{
    margin-top:-3px;
    width:20px;
    height:20px;
    z-index: 1;
}

.cross>div:nth-child(2)>div:nth-child(3){
    margin-right:5px;
}

.cross>div:nth-child(3){
    margin-top:-11px;
    width:20px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    border-bottom:solid 2px #60494a;
}

.cross>div:nth-child(3)>div{
    margin-bottom:5px;
}

.cross>div:nth-child(4), .cross>div:nth-child(5), .cross>div:nth-child(6), .cross>div:nth-child(7){
    background-color: #bf404a;
    width:35px;
    height:30px;
    position: absolute;
}

.cross>div:nth-child(4){
    top:0;
    left:0;
    border-right:solid 2px #60494a;
    border-bottom:solid 2px #60494a;
 }

.cross>div:nth-child(5){
    top:0;
    right:0;
    border-left:solid 2px #60494a;
    border-bottom:solid 2px #60494a;
}

.cross>div:nth-child(6){
    bottom:0;
    left:0;
    border-right:solid 2px #60494a;
    border-top:solid 2px #60494a;
}

.cross>div:nth-child(7){
    bottom:0;
    right:0;
    border-left:solid 2px #60494a;
    border-top:solid 2px #60494a;
}

/*end of properties for cross*/

/*end of properties for buttons*/

/*END OF PROPERTIES FOR LEFT PART OF THE POKEDEX!*/

.rightPartPokedex{
    border-radius: 5px;
    width:350px;
    height:400px;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.rightPartPokedex>div:not(.topRightPokedex){
    width:300px;
}

/*Beginning of properties for top right pokedex*/

.topRightPokedex{
    position: absolute;
    top:0;
    right:0;
    transform: scaleX(-1);
}

.topRightPokedex>div{
    margin-right:-2px;
}

.topRightPokedex>div:nth-child(1){
    width: 170px;
    height: 0;
    border-top: solid #fff 40px;
    border-right: solid transparent 25px;
}

.topRightPokedex>div:nth-child(2){
    display: flex;
    flex-direction: row;
}

.topRightPokedex>div:nth-child(2)>div{
    margin-top:-5px;
}

.topRightPokedex>div:nth-child(2)>div:nth-child(1){
    width: 160px;
    height: 10px;
}

.topRightPokedex>div:nth-child(2)>div:nth-child(2){
    width: 11px;
    height: 10px;
    border-bottom-right-radius: 100%;
}

/*end of properties for top right pokedex*/

/*properties for the screen*/

.rightPartPokedex .screen{
    height: 120px;
    border-radius: 10px;
    margin-top:65px;
    display: flex;
    justify-content:center;
}

.rightPartPokedex .screen .informations{
    margin-top:10px;
    width: 270px;
    display: flex;
    justify-content:space-between;
}

.rightPartPokedex .screen span{
    font-family:Consolas;
    min-width:80px;
    color: #75814d;
    width:auto;
    height: 10px;
}

.rightPartPokedex>div:nth-child(3){
    margin-top:30px;
    height:85px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: space-between;
}

.rightPartPokedex>div:nth-child(3)>div{
    width:45px;
    height:35px;
    background: linear-gradient(to bottom, #4d8fba, #76a3c0);
    border:2px #5d516d solid;
    border-radius: 5px;
    margin-right:10px;
}

/*end of properties of rightPartPokedex*/

.closedPokedexPicture{
    position: absolute;
    width:100%;
    height:100%;
    display: none;
    z-index: 50;
    align-items:center;
    justify-content: center;
}

.closedPokedexPicture span{
    font-weight:bold;
    font-size: 25px;
    color: #6e0404;
}

@media (max-width: 770px) {
    .rightPartPokedex{
        display: none;
    }
    
    #searchForm{
        display: none;
    }

    .closedPokedexPicture{
        display: flex;
    }

    .topLeftPokedex {
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    }
}